.documents_page__wrapper {
  display: grid;
  grid-template-rows: max-content;
}
.documents_page__header {
  display: grid;
  grid-template-columns: 1fr max-content;
  background-color: #EAEAEA;
  height: 56px;
  align-items: center;
  justify-content: center;
}
.documents_page__header_title {
  display: grid;
  margin-right: 28px;
  padding: 0 16px;
  height: 32px;
  background-color: #D1FFFE;
  font-size: 20px;
  justify-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
