@import "../../variables.less";

.login {
  display: grid;
  background-color: white;
  align-items: center;
  padding: 0px 85px;
  @media (max-width: 1024px) {
    padding: 44px 20px;
    align-items: start;
  }

  form {
    display: grid;
    grid-auto-flow: row;
    align-content: flex-start;
    grid-row-gap: 20px;

    .form {
      display: grid;
      margin-top: 40px;
      grid-auto-flow: row;
      align-content: flex-start;
      grid-row-gap: 20px;
      @media (max-width: 1024px) {
        margin-top: 20px;
      }
    }

    .controls {
      margin-top: 32px;
      @media (max-width: 1024px) {
        margin-top: 20px;
      }
    }

    .button {
      display: grid;
      height: 48px;
    }

    .welcome {
      display: grid;
      justify-content: center;
      font-size: 40px;
      font-weight: 800;
      letter-spacing: 0em;
      text-align: center;
      color: @color-primary;
      @media (max-width: 768px) {
        font-size: 30px;
      }
    }

    .description {
      display: grid;
      justify-content: center;
      font-size: 24px;
      letter-spacing: 0em;
      text-align: center;
      color: @color-dark-gray;
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
    .separator {
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-column-gap: 4px;
      align-items: center;
      padding: 0 18px;
      color: @color-gray;
    }
    .line {
      display: grid;
      height: 1px;
      background-color: @color-gray;
      margin: 40px 0;
      @media (max-width: 1024px) {
        margin: 24px 0;
      }
    }
  }
}
