.add_claims__container {
  display: grid;
  justify-content: center;
  align-content: center;
}

.add_claims__wrapper {
  display: grid;
  min-width: 500px;
  background-color: white;
}

.add_claims__row {
  display: grid;
  justify-content: space-between;
  overflow: hidden;
  grid-template-columns: max-content max-content;
}

.add_claims__header:extend(.add_claims__row) {
  background-color: #FFECE0;
}

