@import "../../variables.less";

.wrapper {
  display: grid;
  grid-auto-flow: row;
  align-content: flex-start;

  .label {
    display: grid;
    height: 24px;
    align-items: center;
    justify-content: flex-start;
  }
  .input {
    display: grid;
    position: relative;
    input {
      height: 48px;
      padding: 12px 16px;
      border-radius: 8px;
      border: 1px solid @color-gray;
    }
    input:focus {
      outline: none;
    }
    .error {
      border: 1px solid @color-red;
    }
    .hint {
      border: 1px solid #01a5a3;
    }
    .showPassword {
      display: grid;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      border: 0;
      width: 50px;
      background-color: transparent;
      align-items: center;
      justify-content: center;
    }
  }

  .subtitle-error {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 0px;
    font-size: 14px;
    line-height: 17.5px;
    color: @color-red;
  }
  .subtitle-hint {
    display: flex;
    align-items: center;
    padding: 4px 0px;
    font-size: 14px;
    line-height: 17.5px;
  }
}
