{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "defaults"
            },
            "@babel/preset-react"
        ]
    ],
    "plugins": ["effector-logger/babel-plugin"]
}
