version: "3.3"
services:
  nginx:
    container_name: nginx
    image: nginx-with-web:latest
    ports:
      - "3000:3000"
      - "443:443"
    volumes:
      - ./main.conf:/etc/nginx/conf.d/default.conf
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"