.sidebar {
  display: grid;
  width: 286px;
  grid-template-rows: max-content 1fr max-content;
  .logo {
    display: grid;
    align-items: center;
    justify-content: center;
    img {
      margin: 55px auto;
    }
  }
  .menu {
    .items {
      .item {
      }
      .group {
        .groupHeader {
        }
        .groupItems {
        }
      }
    }
  }
  .footer {
  }
}
