.wrap {
    border-style: solid;
    border-color: #D1D1D1;
    border-width: 1px 0px 1px 0px;
    width: 100%;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.75px;
    margin: 5px 0 7px 0;
    padding-left: 10px;
    padding-right: 5px;
}

.theme {
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    margin: 5px 0 7px 0;
    padding-left: 10px;
}