@import "../../variables.less";

.wrapper {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;

  .label {
    display: grid;
    height: 24px;
    align-items: center;
    justify-content: flex-start;
  }
  .textarea {
    display: grid;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid @color-gray;
    font-family: Inter;
    font-size: 16px;

    &:focus {
      outline: none; 
      border:1px solid @color-primary;
    }

  }
  
  .error {
    outline: none;
    border: 1px solid @color-red;
  }

  .subtitle{
    height: 24px;
    padding-top: 4px;
    @media (max-width: 767px) {
      height: 38px;
    }

    &__error {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 14px;
      line-height: 125%;
      color: @color-red;
    }
    &__hint {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 125%;
    }
  }
}
