@import "../../variables.less";

.splitComponent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    min-width: 100%;
  }
}

.left {
  display: grid;
  background-color: @color-primary;
  color: @color-white;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  align-content: center;
  .left__logo {
    display: grid;
    align-items: baseline;
    justify-content: center;
    @media (max-width: 1024px) {
      padding-top: 20px;
    }
    @media (max-width: 768px) {
      padding: 20px 0px;
    }
    .img {
      min-height: 106px;
      height: 106px;
    }
  }
  .left__phrase {
    display: grid;
    text-align: center;
    padding: 85px 66px 0 66px;
    font-size: 24px;
  }
  .left__author {
    display: grid;
    text-align: center;
    font-size: 24px;
    padding: 30px 66px;
  }
  .left__text {
    @media (max-width: 768px) {
      display: none;
    }
  }
}
