.block_comment {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.edit_button {
  padding-top: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.edit_button:hover svg path {
  fill: #707070;
}

.text_comment {
  margin: 0;
  margin-top: 5px;
  padding: 5px;
  width: 310px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5f5;
}

.creator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d1d1d1;
}

.text {
  color: #575757;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.75px;
  margin: 5px 0 7px 0;
  padding-left: 10px;
  padding-right: 5px;
}

.time {
  padding-left: 10px;
  color: #888888;
}
