@import "../../variables.less";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  display: grid;
  z-index: 1;
  background-color: #5252563c;
}

.wrapper {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: grid;
  width: 286px;
  grid-template-rows: max-content max-content 1fr;
  border-right: 1px solid @color-light-gray;
  overflow: auto;

  .header {
    display: grid;
    padding: 36px 20px 0;

    .profile {
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-column-gap: 12px;
      align-items: center;
      text-decoration: none;

      .name {
        display: grid;
        align-items: center;
        //styleName: Semibold 16-24;
        font-size: 16px;
        font-weight: 600;
        color: @color-dark-gray;
      }

      .roles {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 8px;
        font-size: 12px;
        color: @color-dark-gray;
      }
    }
  }

  .separator {
    display: grid;
    height: 1px;
    background-color: @color-light-gray;
    margin: 36px 20px;
  }

  .body {
    display: grid;
    overflow: auto;
    grid-template-rows: 1fr max-content;
  }
}
