.news_root {
  display: grid;
  grid-template-rows: max-content 1fr;
}

.header_news {
  display: grid;
  grid-template-columns: 1fr max-content;
  background-color: #EAEAEA;
  height: 56px;
  align-items: center;
  justify-content: center;
}

.header_title {
  display: grid;
  padding: 0 16px;
  height: 32px;
  background-color: #D1FFFE;
  font-size: 20px;
  justify-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.header_icons {
  display: grid;
  padding: 0 32px;
  grid-auto-flow: column;
  justify-content: flex-start;
  grid-column-gap: 16px;
}

.news_body {
  display: grid;
  padding: 32px;
  grid-auto-flow: row;
  align-content: flex-start;
  grid-row-gap: 16px;
}
