@import "../../variables.less";

.registration {
  display: grid;
  box-sizing: border-box;
  padding: 0 136px;
  align-items: center;
  background-color: white;

  form {
    display: grid;
    grid-auto-flow: row;
    align-content: flex-start;
    grid-row-gap: 24px;

    .hidden {
      display: none !important;
    }

    .welcome {
      display: grid;
      justify-content: center;
      font-size: 40px;
      font-weight: 800;
      letter-spacing: 0em;
      text-align: center;
      color: @color-primary;
    }
    .buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
    }
    .button {
      display: grid;
      height: 48px;
    }

    .step {
      display: grid;
      grid-auto-flow: row;
      align-content: flex-start;
      grid-row-gap: 24px;
    }

    .gotoLogin {
      text-align: center;

      a {
        color: @color-primary;
      }
    }
  }
}
