.tableSection {
  display: grid;
  grid-template-rows: max-content 1fr max-content;

  .searchWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr max-content;

    .search {
      display: grid;
      .iconButton {
        display: grid;
        align-items: center;
        justify-content: center;
      }
    }
    .searchButtons {
      display: grid;
    }
  }

  .content {
    display: grid;
  }

  .footer {
    display: grid;
  }
}
