.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
  background-color: var(--main);
  color: var(--white);
}

.heading {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-right: 362px;
  margin-left: auto;
}

.icons {
  display: flex;
}

.icons img:first-child {
  margin-right: 30px;
}

.icon {
  cursor: pointer;
}
