@import "../../variables.less";

.wrapper {
  display: grid;
  height: 88px;
  background-color: @color-light-gray2;
  padding: 0 24px;
  border-bottom: 1px solid @color-light-gray;
}

.header {
  display: grid;
  grid-template-columns: 1fr max-content max-content max-content;
  align-items: center;
  grid-column-gap: 20px;
}

.column {
  display: grid;
  align-items: center;
}

.sectionName {
  font-size: 24px;
  font-weight: 600;
  color: @color-black;
}

.profile {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  justify-content: start;
  text-decoration: none;
}

.name {
  display: grid;
  align-items: center;
  //styleName: Semibold 16-24;
  font-size: 16px;
  font-weight: 600;
  color: @color-dark-gray;
}

.roles {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 8px;
  //styleName: Regular 12-16;
  font-size: 12px;
  font-weight: 400;
  color: @color-dark-gray;
}

.action {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  &:hover {
    border-radius: 50%;
    background-color: @color-light-gray;
  }
}

.avatar {
  width: 40px;
  height: 40px;
}