.navbar {
  display: grid;
  position: fixed;
  overflow: auto;
  z-index: 10;
  bottom: 0;
  left: 0;
  top: 56px;
  width: 256px;
  background-color: rgba(250, 250, 250, 1);
  box-shadow: 0 5.5px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
  padding-top: 22px;
}

.navbar_links {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-wrap: wrap;
}

.navbar_link {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1px;
  padding-bottom: 1px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
}

.navbar_link:hover {
  color: rgba(0, 0, 0, 0.84);
}

.navbar_icon {
  display: grid;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
}

.disabled_link {
  pointer-events: none;
}

.navbar_link_container {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 24px;
  margin-left: 25px;
}

.navbar_activeLink {
  background: #f0f0f0;
  color: #01a19f;
}
