.navbar {
  display: grid;
  grid-template-rows: max-content 1fr;
  top: 0;
  bottom: 0;
  left: 0;
  width: 256px;
  background-color: rgba(250, 250, 250, 1);
  box-shadow: 0 5.5px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
}

.header {
  display: grid;
  height: 56px;
  background-color: #01a19f;
  justify-items: end;
  align-items: center;
}

.header_button {
  display: inline-block;
  margin-right: 16px;
  cursor: pointer;
}

.navbar_links {
  margin: 32px 32px;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 32px;
  align-content: flex-start;
}

.navbar_link {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 16px;
}

.navbar_icon {
  display: grid;
  align-items: center;
}
