.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 56px;
  padding-left: 607px;
  padding-right: 25px;
  background-color: var(--main);
  color: var(--white);
  transition-duration: 300ms;
}

.menuActive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding-left: 351px;
  padding-right: 25px;
  background-color: var(--main);
  color: var(--white);
  transition-duration: 300ms;
}

.heading {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

.icons {
  display: flex;
}

.icons img:first-child {
  margin-right: 30px;
}

.icon {
  cursor: pointer;
}
