.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  padding-left: 127px;
  padding-right: 25px;
  background-color: var(--main);
  color: var(--white);
  transition-duration: 300ms;
}

.menuActive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  padding-left: 101px;
  padding-right: 25px;
  background-color: var(--main);
  color: var(--white);
  transition-duration: 300ms;
}

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 128px;
  height: 49px;
}

.icons {
  display: flex;
  margin-right: 30px;
}

.icons img:first-child {
  margin-right: 30px;
}

.icon {
  cursor: pointer;
}
