.auth-required {
  grid-area: main;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 55px;
  background-color: var(--gray);
}

.auth-btn {
  cursor: pointer;
  background-color: var(--main-brigth);
  border-radius: 6px;
  padding: 5px 11px 5px 11px;
  max-height: 31px;
  border: none;
}
