@import '../../variables.less';

.notifications {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 50%;
  padding: 10px;
  background-color: @color-light-pink;
  border-color: @color-dark-red;
  border-radius: 4px;
  color: @color-dark-red;
  opacity: 90%;
  text-align: center;
  word-wrap: break-word;
  z-index: 9999;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: @color-dark-red;
  font-size: 24px;
  cursor: pointer;
}