.body {
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 47px;
}

.text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.75px;
  margin: 5px 10px 7px 25px;
  text-align: right;
}

.time {
  color: #535353;
  padding-left: 10px;
}

.theme {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  margin: 5px 0 7px 10px;
}

.border {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 4px;
}
