.news_page__container {
  display: grid;
  grid-auto-flow: row;
  grid-column-gap: 16px;
}

.news_page__header_title{
padding: 16px;
font-weight: 400;
font-size: 19px;
line-height: 22px;

}

.news_page__header_container{
  display: flex;
  justify-content: space-between;
  background-color: #E3E3E3;
}

.news_page__description{
padding: 12px;
color: #01A19F;
background-color: white;
font-weight: 500;
font-size: 12px;
line-height: 14px;
text-align: right;
font-style: normal;
}

.news_page__header_icons{
  display:flex;
  padding-right: 2rem;
}

.news_page__header_info{
  padding-right: 2rem;
}