.news_card {
  display: grid;
  padding: 16px;
  grid-template-rows: max-content max-content max-content;
  grid-row-gap: 4px;
  background-color: white;
  border-bottom: 2px #01a19f;
  box-shadow: 0 2px 5px #01a19f;
}

.news_card_head {
  display: grid;
  grid-template-columns: max-content 1fr max-content max-content max-content;
  grid-column-gap: 8px;
  align-items: center;
  border-bottom: 1px solid rgba(1, 161, 159, 0.3);
}

.news_card_head_title {
  font-size: 16px;
  font-weight: 600;
}

.news_card_head_date {
  font-size: 14px;
  font-weight: 400;
  color: #878787;
}

.news_card_content {
  display: grid;
}

.news_card_footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-end;
  grid-column-gap: 16px;
}