@import "../../variables.less";

.login {
  display: grid;
  form {
    display: grid;
    grid-auto-flow: row;
    align-content: flex-start;
    grid-row-gap: 20px;
    padding-top: 200px;

    .welcome {
      display: grid;
      justify-content: center;
      font-size: 40px;
      font-weight: 800;
      letter-spacing: 0em;
      color: @color-primary;
    }
    .description {
      display: grid;
      justify-content: center;
      font-size: 24px;
      letter-spacing: 0em;
      text-align: center;
      color: @color-dark-gray;
    }
    .separator {
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-column-gap: 4px;
      align-items: center;
      padding: 0 18px;
    }
    .line {
      display: grid;
      height: 1px;
      background-color: @color-gray;
    }
  }
}
